<html>
<head>
    <title>Train Booking - login</title>
</head>
<body>
<div class="container">
<b>Train Booking login </b><br>
    <form method="post">
    username:<input type="text" name="user" value="{{request.form.user}}"><br>
    password:<input type="password" name="password" value="{{request.form.password}}"><br>
    <input type="submit" value="Login">
    </form>
{% if error %}
    <p class="error">Error: {{error}}</p>
{% endif %}

    <br>
    {% for message in get_flashed_messages() %}
        {{message}}
    {% endfor %}
<br>click <a href="/">here </a>to go home
</div>
</body>
</html>